@{
    Layout = "~/Views/Layouts/_Layout.cshtml";
    Page.Title = "Univlog | Home";

    string subjectsUrl = "~/Views/Subjects.cshtml";
    string teachersUrl = "~/Views/Teachers.cshtml";
}

<div class="container">
    <div class="my-4 p-5 bg-light rounded text-center">
        <h1>Bienvenido al foro de comentarios de la Universidad del Valle!</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">¿Necesitas ayuda con tus materias?</h5>
                    <p class="card-text">Descubré qué consejos tienen para tí tus compañeros de semestres superiores para que te vaya súper bien!</p>
                    <a href="@Href(subjectsUrl)" class="btn btn-danger">Ir a foro de Materias</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">¡Conoce más a tus docentes!</h5>
                    <p class="card-text">¿Qué opinan tus compañeros sobre los docentes? Conócelos más a través de las experiencias que ellos tuvieron.</p>
                    <a href="@Href(teachersUrl)" class="btn btn-danger">Ir a foro de Docentes</a>
                </div>
            </div>
        </div>
    </div>
</div>
