<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @RenderPage("Header.cshtml")
    @RenderBody()
    @RenderPage("Footer.cshtml")
</body>
</html>
