@using Univlog.Models;
@using Univlog.Data_Access;
@{
    Layout = "~/Views/Layouts/Layout.cshtml";
    Page.Title = "Univlog | Materias";
    PostAccess dbAccess = new PostAccess();
    IEnumerable<Post> subjectsPosts = dbAccess.GetSubjectsPosts();
}

<h3>Materias :D</h3>

@foreach (Post subject in subjectsPosts)
{
    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title">@subject.Title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="@Href("~/Views/Comments", subject.PostId)" class="btn btn-primary">Ver comentarios</a>
        </div>
    </div>
}
